.start{
    background-color: rgba(64, 64, 64, 0.7);
    padding: 10rem 5rem;
    display: flex;
    flex-flow: column;
    border-radius: 15px;
}

.input__item{
    margin: 1rem;
    font-size: 1.2rem;
}

.input__item input{
    background-color: transparent;
    border: none;
    padding: 0.1rem;
    margin-left: 0.4rem;
    border-bottom: 1px solid #fff;
    color: white;
}